In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [4]:
data=pd.read_csv("auto-mpg.csv")
data=data.dropna(axis=0,how='any')
predictors=data.iloc[:,1:7] #seggregating the predictor variables...........

In [5]:
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,87,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [6]:
data=data.dropna(axis=0,how='all')
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,87,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [7]:
target = data.iloc[:,0] #seggregating the target/class variable......

In [8]:
predictors

     cylinders  displacement  horsepower  weight  acceleration  model year
0            8         307.0       130.0    3504          12.0          70
1            8         350.0       165.0    3693          11.5          70
2            8         318.0       150.0    3436          11.0          70
3            8         304.0       150.0    3433          12.0          87
4            8         302.0       140.0    3449          10.5          70
..         ...           ...         ...     ...           ...         ...
393          4         140.0        86.0    2790          15.6          82
394          4          97.0        52.0    2130          24.6          82
395          4         135.0        84.0    2295          11.6          82
396          4         120.0        79.0    2625          18.6          82
397          4         119.0        82.0    2720          19.4          82

[392 rows x 6 columns]

In [9]:
predictors.shape

(392, 6)

In [ ]:
predictors.columns

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model year'],
      dtype='object')

In [ ]:
predictors_train, predictors_test, target_train, target_test = train_test_split(predictors,target,test_size = 0.3,random_state = 123)

In [ ]:
lm = linear_model.LinearRegression()

In [ ]:
predictors_train

     cylinders  displacement  horsepower  weight  acceleration  model year
5            8         429.0       198.0    4341          10.0          70
237          4          98.0        63.0    2051          17.0          77
335          4         122.0        88.0    2500          15.1          80
19           4          97.0        46.0    1835          20.5          70
29           4          97.0        88.0    2130          14.5          71
..         ...           ...         ...     ...           ...         ...
232          8         351.0       149.0    4335          14.5          77
99           6         232.0       100.0    2945          16.0          73
324          4          85.0        65.0    2110          19.2          80
388          4         156.0        92.0    2585          14.5          82
370          4         112.0        85.0    2575          16.2          82

[274 rows x 6 columns]

In [ ]:
target_train

5      15.0
237    30.5
335    35.0
19     26.0
29     27.0
       ...
232    16.0
99     18.0
324    40.8
388    26.0
370    31.0
Name: mpg, Length: 274, dtype: float64

In [ ]:
#First train model/ classifier with the input dataset (training data part)
model = lm.fit(predictors_train, target_train)

In [ ]:
t_p = model.predict(predictors_train)
mean_squared_error(target_train, t_p)
r2_score(target_train,t_p)

0.7953239423673925

In [ ]:
#Make prediction using the trained model
prediction = model.predict(predictors_test)
mean_squared_error(target_test,prediction)
r2_score(target_test,prediction)

0.6342599160209783

In [ ]:
lr = linear_model.LogisticRegression

In [ ]:
logistic_model = LogisticRegression()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data1 = pd.read_csv("train_cleaned.csv")

In [ ]:
data1.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [ ]:
data1.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Item_Outlet_Sales', 'Item_Fat_Content_LF',
       'Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Item_Fat_Content_low fat', 'Item_Fat_Content_reg',
       'Item_Type_Baking Goods', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods',
       'Outlet_Identifier_OUT010', 'Outlet_Identifier_OUT013',
       'Outlet_Identifier_OUT017', 'Outlet_Identifier_OUT018',
       'Outlet_Identifier_OUT019', 'Outlet_Identifier_OUT027',
       'Outlet_Identifier_OUT035', 'Outlet_Identifier_OUT045',
       'Outlet_Identifier_OUT046', 'Outlet_Identifier_OUT049',
       'Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3'],
      dtype='object')

In [ ]:
x = data1.drop(['Item_Outlet_Sales'],axis=1)
y=data1['Item_Outlet_Sales']
x.shape,y.shape

((8523, 45), (8523,))

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y,random_state=56)

In [ ]:
train_x

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
178,0.000,0.191014,42.1112,1985,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,0
3644,18.000,0.015482,159.3604,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3197,0.000,0.042949,199.5742,1985,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
1791,0.000,0.081014,98.8384,1985,0,1,0,0,0,1,...,0,0,1,1,0,0,1,0,0,0
2184,6.675,0.041921,92.3462,1997,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0.000,0.039058,155.9630,1985,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
233,7.550,0.027165,152.3340,2004,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
3264,18.700,0.104890,121.4072,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
399,8.970,0.093203,52.7956,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2532,10.695,0.060654,174.7712,2004,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0

In [ ]:
train_y

178       42.6112
3644    2059.9852
3197    3981.4840
1791     492.6920
2184    2406.2012
          ...
87      3285.7230
233     2603.2780
3264    3185.1872
399     1037.3164
2532    3339.6528
Name: Item_Outlet_Sales, Length: 6392, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse

In [ ]:
#creating instance of Linear Regression
lr = LR()

In [ ]:
train_x

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
178,0.000,0.191014,42.1112,1985,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,0
3644,18.000,0.015482,159.3604,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3197,0.000,0.042949,199.5742,1985,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
1791,0.000,0.081014,98.8384,1985,0,1,0,0,0,1,...,0,0,1,1,0,0,1,0,0,0
2184,6.675,0.041921,92.3462,1997,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0.000,0.039058,155.9630,1985,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
233,7.550,0.027165,152.3340,2004,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
3264,18.700,0.104890,121.4072,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
399,8.970,0.093203,52.7956,2002,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2532,10.695,0.060654,174.7712,2004,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0

In [ ]:
train_y

178       42.6112
3644    2059.9852
3197    3981.4840
1791     492.6920
2184    2406.2012
          ...
87      3285.7230
233     2603.2780
3264    3185.1872
399     1037.3164
2532    3339.6528
Name: Item_Outlet_Sales, Length: 6392, dtype: float64

In [ ]:
model = lr.fit(train_x,train_y)

In [ ]:
t_p = model.predict(train_x)
mse(train_y, t_p)
r2_score(train_y,t_p)

0.5715331591625941